target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

*.class
*.war
*.jar
*.ear
*.log
hs_err_pid*
replay_pid*

.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache/
bin/
.apt_generated/
.apt_generated_test/


.tomcatplugin
servers/
*.pid

upload/
uploads/
src/main/webapp/upload/


Thumbs.db
ehthumbs.db
Desktop.ini
desktop.ini
$RECYCLE.BIN/
.DS_Store

